/*
!EconomyOverride.json
!ServerSettings.ini
!ServerSettings.Sentry.ini
!RaidTimes.json
!Notifications.json
!MapSetting.yaml
!.ignore
!*.md
!_Guide

!Loot/
!Quests/
Quests/QuestList/CustomQuestList.json